<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Display customizable markers upon progress bars for videojs players.">
   <title>Videojs-markers</title>
   
   <link href="/static/lib/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/doc/general.css" rel="stylesheet">
   <link href="http://vjs.zencdn.net/4.3/video-js.css" rel="stylesheet">
   <link href="static/lib/videojs-markers/videojs.markers.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/static/lib/rainbow/themes/github.css">

   
   <!--[if lt IE 9]><script src="/components/html5shiv/dist/html5shiv.min.js"></script><![endif]-->
</script>
</head>

<body cz-shortcut-listen="true">
   <a href="https://github.com/spchuang/videojs-markers" id="github" target="_blank"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
   <div id="navbar" class="navbar navbar-static-top">
      <div class="container">
         <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a href="/videojs-markers" class="navbar-brand">Videojs-markers</a>
         <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav">
               <li>
                  <a href="https://github.com/spchuang/videojs-markers/releases" target="_blank">Download</a>
               </li>
               <li>
                  <a href="https://github.com/spchuang/videojs-markers/issues" target="_blank">Bug reports</a>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <header id="home">
      <div class="jumbotron masthead">
      <h1>Videojs-markers</h1>
      <p class="lead">
         The easiest way to show ad breaks, breakpoints, and bookmarks on your videojs player.
      </p>
      <p>
         <button type="button" id="demo" class="btn btn-default btn-lg" data-demo="">
         <span class="glyphicon glyphicon-play"></span>
         See a demo
         </button>
      </p>
      <ul class="social">
         <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=spchuang&amp;repo=videojs-markers&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
         </li>
         <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=spchuang&amp;repo=videojs-markers&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
         </li>
      </ul>
      </div>
   </header>
   
<section id="demo">
   <div class="container">
      <div class="page-header">
         <h2>Demo <small>let's see it in action!</small></h2>
      </div>
      <h3>Basic</h3>
      <p>Add breakpoints on the video progress bar, hover-over tooltips and break overlays.</p>
      <video id="basic-demo" controls class="video-js vjs-default-skin" width="640" height="264">
         <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
         <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
      </video>
      <div class="accordion">
         <div class="accordion-group">
            <div class="accordion-heading">
               <a class="accordion-toggle" data-toggle="collapse" href="#accordion_example_markup">
                  Show code
               </a>
            </div>
            <div id="accordion_example_markup" class="accordion-body collapse">
               <div class="accordion-inner highlight">
                  <pre><code data-language="html">&lt;video id="demo" controls class="video-js vjs-default-skin"&gt;
   &lt;source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"&gt;
   &lt;source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"&gt;
&lt;/video&gt;

&lt;script&gt;
var player = videojs('demo');
player.markers({
   markers: [
      {time: 9.5, text: "this"},
      {time: 16,  text: "is"},
      {time: 23.6,text: "so"},
      {time: 28,  text: "cool"}
   ]
});
&lt;/script&gt;</code></pre>
               </div>
            </div>
         </div>
      </div>
      
      <h3>Customize markers</h3>
      <p>Fully customize the styles and text for your markers, tooltip and overlays.</p>
      <video id="customize-demo" controls preload="none" class="video-js vjs-default-skin" width="640" height="264">
         <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
         <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
      </video>
      
      <h3>Dynamic video</h3>
      <p>Dynamically add or remove markers on the fly.</p>
      <video id="dynamic-demo" controls preload="none" class="video-js vjs-default-skin" width="640" height="264">
         <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
         <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
      </video>
      
   </div>
   

</section>
   
<section id="usage">
  <div class="container">
    <div class="page-header">
      <h2>The How-to <small>It's simple!</small></h2>
    </div>
    <h3>Add the dependencies</h3>
    <p>Include <code>jquery.min.js</code>, <code>video-js.css</code> and <code>video.js</code>:</p>

   <div class="accordion-inner highlight">
      <pre><code data-language="html">&lt;link href="http://vjs.zencdn.net/4.3/video-js.css" rel="stylesheet"&gt;
&lt;link href="src/to/videojs.markers.css" rel="stylesheet"&gt;
...
&lt;script src="http://code.jquery.com/jquery-2.0.3.min.js"&gt; &lt;/script&gt;
&lt;script src="http://vjs.zencdn.net/4.3/video.js"&gt;&lt;/script&gt;
&lt;script src='src/to/videojs.markers.js'&gt;&lt;/script&gt;</code>
      </pre>
   </div>

   <h3>Setup your markers:</h3>
   <div class="accordion-inner highlight">
      <pre><code data-language="javascript">// initialize video.js
var player = videojs('video-id');

//load the marker plugin
player.markers({
   markers: [
      {
         time: 9.5,
         text: "put"
      },
      {
         time: 16,
         text: "any"
      },
      {
         time: 23.6,
         text: "text"
      },
      {
         time: 28,
         text: "here"
      }
   ]
});</code></pre>
   </div>
</section>

<section id="option">
  <div class="container">
    <div class="page-header">
      <h2>Options <small>Let's get deeper</small></h2>
    </div>
    <h3>Default Global options</h3>
    <div class="accordion-inner highlight">
      <pre><code data-language="javascript">// setup plugin
player.markers({
   markerStyle: {
      'width':'7px',
      'border-radius': '30%',
      'background-color': 'red'
   },
   markerTip:{
      display: true,
      text: function(marker) {
         return "Break: "+ marker.text;
      }
   },
   breakOverlay:{
      display: true,
      displayTime: 3,
      text: function(marker) {
         return "Break overlay: " + marker.text;
      },
      style:{
         'width':'100%',
         'height': '20%',
         'background-color': 'rgba(0,0,0,0.7)',
         'color': 'white',
         'font-size': '17px'
      }
   },
   onMarkerReached: function(marker) {},
   markers: [{
      time: 9.5, 
      text: "marker", 
      overlay: 'overlay', 
      class: 'custom-marker'
   }]
});
// plugin api
player.markers.next();
player.markers.prev();
player.markers.remove([1,2]);
player.markers.removeAll();
player.markers.add([{ time: 40, text: "I'm added"}]);
player.markers.reset([{ time: 23, text: "I'm reset"}]);
player.markers.destroy();</code></pre>
   </div>
   
   <h3>Documentation</h3>
   <table class="table  table-bordered ">
      <thead>
         <tr>
            <th colspan="2">Name</th>
            <th>Type</th>
            <th>Description</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td colspan="2"><code>markerStyle</code></td>
            <td>Object</td>
            <td><code>'tour'</code></td>
         </tr>
         <tr>
            <td colspan="2"><code>markerTip</code></td>
            <td>Object</td>
            <td><code>'tour'</code></td>
         </tr>
         <tr>
            <td></td>
            <td><code>display</code></td>
            <td>Boolean</td>
            <td><code>[]</code></td>
         </tr>
         <tr>
            <td></td>
            <td><code>text</code></td>
            <td>Function</td>
            <td><code>[]</code></td>
         </tr>
         
         <tr>
            <td colspan="2"><code>breakOverlay</code></td>
            <td>Object</td>
            <td><code>'tour'</code></td>
         </tr>
         <tr>
            <td></td>
            <td><code>display</code></td>
            <td>Boolean</td>
            <td><code>[]</code></td>
         </tr>
         <tr>
            <td></td>
            <td><code>displayTime</code></td>
            <td>Integer</td>
            <td><code>[]</code></td>
         </tr>
         <tr>
            <td></td>
            <td><code>style</code></td>
            <td>Object</td>
            <td><code>[]</code></td>
         </tr>
         <tr>
            <td></td>
            <td><code>text</code></td>
            <td>Function</td>
            <td><code>[]</code></td>
         </tr>
         <tr>
            <td colspan="2"><code>onMarkerReached</code></td>
            <td>Function</td>
            <td><code>'tour'</code></td>
         </tr>
         <tr>
            <td colspan="2"><code>markers</code></td>
            <td>Array</td>
            <td><code>'tour'</code></td>
         </tr>
      </tbody>
   </table>
  
   </div>
</section>

   <script src="/static/lib/jquery.js"></script>
   <script src="/static/lib/bootstrap-3.3.1/js/bootstrap.min.js"></script>
   <script src="http://vjs.zencdn.net/4.3/video.js"></script>
   <script src='/static/lib/videojs-markers/videojs-markers.min.js'></script>
   <script src="/static/lib/rainbow/rainbow-custom.min.js"></script>
   <script>
   // initialize video.js
   var basicDemoPlayer = videojs('basic-demo');

   //load the marker plugin
   basicDemoPlayer.markers({
      markers: [
         {
            time: 9.5,
            text: "this"
         },
         {
            time: 16,
            text: "is"
         },
         {
            time: 23.6,
            text: "so"
         },
         {
            time: 28,
            text: "cool"
         }
      ]
   });
</script>
   
</body>
</html>
