<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Display customizable markers upon progress bars for videojs players.">
   <title>Videojs-markers</title>

   <link href="/static/lib/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/doc/general.css" rel="stylesheet">
   <link href="http://vjs.zencdn.net/4.3/video-js.css" rel="stylesheet">
   <link href="static/bower_components/videojs-markers/dist/videojs.markers.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/static/lib/rainbow/themes/github.css">
   <style>
      .special-blue{
         background-color: #4949d8 !important;
      }
      .video-js {padding-top: 56.25%}
      .vjs-fullscreen {padding-top: 0px}
   </style>

   <!--[if lt IE 9]><script src="/components/html5shiv/dist/html5shiv.min.js"></script><![endif]-->
</script>
</head>

<body cz-shortcut-listen="true">
   <a href="https://github.com/spchuang/videojs-markers" id="github" target="_blank"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
   <div id="navbar" class="navbar navbar-static-top">
      <div class="container">
         <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a href="/videojs-markers" class="navbar-brand">Videojs-markers</a>
         <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav">
               <li>
                  <a href="https://github.com/spchuang/videojs-markers/releases" target="_blank">Download</a>
               </li>
               <li>
                  <a href="https://github.com/spchuang/videojs-markers/issues" target="_blank">Bug reports</a>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <header id="home">
      <div class="jumbotron masthead">
      <h1>Videojs-markers</h1>
      <p class="lead">
         The easiest way to show ad breaks, breakpoints, and bookmarks on your videojs player.
      </p>
      <p>
         <button type="button" id="demo-btn" class="see-demo btn btn-default btn-lg" data-demo="">
         <span class="glyphicon glyphicon-play"></span>
         See a demo
         </button>
      </p>
      <ul class="social">
         <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=spchuang&amp;repo=videojs-markers&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
         </li>
         <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=spchuang&amp;repo=videojs-markers&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
         </li>
      </ul>
      </div>
   </header>

<section id="demo">
   <div class="container">
      <div class="page-header">
         <h2>Demo <small>let's see it in action!</small></h2>
      </div>
      <h3>Basic</h3>
      <p>Add breakpoints on the video progress bar, hover-over tooltips and break overlays.</p>

      <div class="row">
         <div class="col-md-6 col-xs-12">
             <video id="basic-demo" controls class="video-js vjs-default-skin" width="auto" height="auto" >
               <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
               <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
            </video>
         </div>
      </div>
      <div class="accordion">
         <div class="accordion-group">
            <div class="accordion-heading">
               <a class="accordion-toggle" data-toggle="collapse" href="#accordion_basic_demo">
                  Show code
               </a>
            </div>
            <div id="accordion_basic_demo" class="accordion-body collapse">
               <div class="accordion-inner highlight">
                  <pre><code data-language="html">&lt;video id="demo" controls class="video-js vjs-default-skin"&gt;
   &lt;source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"&gt;
   &lt;source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"&gt;
&lt;/video&gt;

&lt;script&gt;
var player = videojs('demo');
player.markers({
   markers: [
      {time: 9.5, text: "this"},
      {time: 16,  text: "is"},
      {time: 23.6,text: "so"},
      {time: 28,  text: "cool"}
   ]
});
&lt;/script&gt;</code></pre>
               </div>
            </div>
         </div>
      </div>

      <h3>Customize markers</h3>
      <p>Fully customize the styles and text for your markers, tooltip and overlays.</p>
      <div class="row">
         <div class="col-md-6 col-xs-12">
             <video id="customize-demo" controls class="video-js vjs-default-skin" width="auto" height="auto" >
               <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
               <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
            </video>
         </div>
      </div>
      <div class="accordion">
         <div class="accordion-group">
            <div class="accordion-heading">
               <a class="accordion-toggle" data-toggle="collapse" href="#accordion_customize_demo">
                  Show code
               </a>
            </div>
            <div id="accordion_customize_demo" class="accordion-body collapse">
               <div class="accordion-inner highlight">
                  <pre><code data-language="html">&lt;video id="demo" controls class="video-js vjs-default-skin"&gt;
   &lt;source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"&gt;
   &lt;source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"&gt;
&lt;/video&gt;

&lt;style&gt;
.special-blue{
   background-color: #4949d8 !important;
}
&lt;/style&gt;

&lt;script&gt;
var player = videojs('demo');

player.markers({
   markerStyle: {
      'width':'9px',
      'border-radius': '40%',
      'background-color': 'orange'
   },
   markerTip:{
      display: true,
      text: function(marker) {
         return "I am a marker tip: "+ marker.text;
      }
   },
   breakOverlay:{
      display: true,
      displayTime: 4,
      style:{
         'width':'100%',
         'height': '30%',
         'background-color': 'rgba(10,10,10,0.6)',
         'color': 'white',
         'font-size': '16px'
      },
      text: function(marker) {
         return "This is a break overlay: " + marker.overlayText;
      },
   },
   markers: [
      {time: 9.5, text: "this", overlayText: "1", class: "special-blue"},
      {time: 16,  text: "is", overlayText: "2"},
      {time: 23.6,text: "so", overlayText: "3"},
      {time: 28,  text: "cool", overlayText: "4"}
   ]
});
&lt;/script&gt;</code></pre>
               </div>
            </div>
         </div>
      </div>

      <h3>Dynamic video</h3>
      <p>Dynamically add or remove markers on the fly.</p>
      <div class="row">
         <div class="col-md-6 col-xs-12">
            <video id="dynamic-demo" controls preload="none" class="video-js vjs-default-skin" width="auto" height="auto">
               <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
               <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
            </video>
            <br>
         </div>
         <div class="col-md-6 col-xs-12">
            <div class="btn-group" role="group" aria-label="...">
               <button class='dynamic-demo-prev btn btn-default' type="button">Prev</button>
               <button class='dynamic-demo-next btn btn-default' type="button">Next</button>
               <button class='dynamic-demo-add-random btn btn-default' type="button">Add random</button>
               <button class='dynamic-demo-shift btn btn-default' type="button">Shift 1 sec</button>
               <button class='dynamic-demo-remove-first btn btn-default' type="button">Remove 1st</button>
               <button class='dynamic-demo-remove-all btn btn-default' type="button">Remove all</button>
               <button class='dynamic-demo-destroy btn btn-default' type="button">Destroy</button>
            </div>
            <hr>
            <ul class="dynamic-demo-events list-group">
              <li class="list-group-item"><b>Marker events:</b></li>

           </ul>
         </div>
      </div>
      <div class="accordion">
         <div class="accordion-group">
            <div class="accordion-heading">
               <a class="accordion-toggle" data-toggle="collapse" href="#accordion_dynamic_demo">
                  Show code
               </a>
            </div>
            <div id="accordion_dynamic_demo" class="accordion-body collapse">
               <div class="accordion-inner highlight">
                  <pre><code data-language="html">&lt;video id="demo" controls class="video-js vjs-default-skin"&gt;
   &lt;source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"&gt;
   &lt;source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"&gt;
&lt;/video&gt;

&lt;script&gt;
var player = videojs('demo');
player.markers({
   breakOverlay:{
      display: true
   },
   onMarkerClick: function(marker){
      $('.dynamic-demo-events').append('<li class="list-group-item">Marker click: '+marker.time+'</li>');
   },
   onMarkerReached: function(marker){
      $('.dynamic-demo-events').append('<li class="list-group-item">Marker reached: '+marker.time+'</li>');
   },
   markers: [
      {time: 9.5, text: "this", overlayText: "1"},
      {time: 16,  text: "is", overlayText: "2"},
      {time: 23.6,text: "so", overlayText: "3"},
      {time: 28,  text: "cool", overlayText: "4"}
   ]
});

// setup control handlers
$(".dynamic-demo-prev").click(function(){
   player.markers.prev();
});
$(".dynamic-demo-next").click(function(){
   player.markers.next();
});
$(".dynamic-demo-add-random").click(function(){
   var randomTime = Math.floor((Math.random() * parseInt(player.duration())) + 1);

   // come up with a random time
   player.markers.add([{
      time: randomTime,
      text: "I'm new",
      overlayText: "I'm new"
   }]);
});
$(".dynamic-demo-shift"). click(function(){
   var markers = player.markers.getMarkers();
   for(var i = 0; i < markers.length; i++) {
      markers[i].time += 1;
   }
   player.markers.updateTime();
});
$(".dynamic-demo-remove-first").click(function(){
   player.markers.remove([0]);
});
$(".dynamic-demo-remove-all").click(function(){
   player.markers.removeAll();
});
$(".dynamic-demo-destroy").click(function(){
   player.markers.destroy();
});
&lt;/script&gt;</code></pre>
               </div>
            </div>
         </div>
      </div>

   </div>


</section>

<section id="usage">
  <div class="container">
    <div class="page-header">
      <h2>The How-to <small>It's simple!</small></h2>
    </div>
    <h3>Add the dependencies</h3>
    <p>Include <code>jquery.min.js</code>, <code>video-js.css</code> and <code>video.js</code>:</p>

   <div class="accordion-inner highlight">
      <pre><code data-language="html">&lt;link href="http://vjs.zencdn.net/4.3/video-js.css" rel="stylesheet"&gt;
&lt;link href="src/to/videojs.markers.css" rel="stylesheet"&gt;
...
&lt;script src="http://code.jquery.com/jquery-2.0.3.min.js"&gt; &lt;/script&gt;
&lt;script src="http://vjs.zencdn.net/4.3/video.js"&gt;&lt;/script&gt;
&lt;script src='src/to/videojs.markers.js'&gt;&lt;/script&gt;</code>
      </pre>
   </div>

   <h3>Setup your markers:</h3>
   <div class="accordion-inner highlight">
      <pre><code data-language="javascript">// initialize video.js
var player = videojs('video-id');

//load the marker plugin
player.markers({
   markers: [
      {
         time: 9.5,
         text: "put"
      },
      {
         time: 16,
         text: "any"
      },
      {
         time: 23.6,
         text: "text"
      },
      {
         time: 28,
         text: "here"
      }
   ]
});</code></pre>
   </div>
</section>

<section id="option">
  <div class="container">
    <div class="page-header">
      <h2>Options <small>Let's get deeper</small></h2>
    </div>
    <h3>Default Global Options</h3>
    <div class="accordion-inner highlight">
      <pre><code data-language="javascript">// setup plugin
player.markers({
   markerStyle: {
      'width':'7px',
      'border-radius': '30%',
      'background-color': 'red'
   },
   markerTip:{
      display: true,
      text: function(marker) {
         return "Break: "+ marker.text;
      },
      time: function(marker) {
         return marker.time;
      }
   },
   breakOverlay:{
      display: false,
      displayTime: 3,
      style:{
         'width':'100%',
         'height': '20%',
         'background-color': 'rgba(0,0,0,0.7)',
         'color': 'white',
         'font-size': '17px'
      },
      text: function(marker) {
         return "Break overlay: " + marker.overlayText;
      }
   },
   onMarkerClick: function(marker) {},
   onMarkerReached: function(marker) {},
   markers: [{
      time: 9.5,
      text: "marker",
      overlayText: 'overlay',
      class: 'custom-marker'
   }]
});

// plugin api
player.markers.next();
player.markers.prev();
player.markers.remove([1,2]);
player.markers.removeAll();
player.markers.add([{ time: 40, text: "I'm added"}]);
player.markers.reset([{ time: 23, text: "I'm reset"}]);
player.markers.destroy();</code></pre>
   </div>

   <h3>Documentation</h3>
   <table class="table  table-bordered">
      <thead>
         <tr>
            <th colspan="2">Name</th>
            <th>Type</th>
            <th>Description</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td colspan="2"><code>markerStyle</code></td>
            <td>Object</td>
            <td>
               <p>The general css styling that would be applied to all the markers created by the plugin. The default is only concerned with <code>width</code>, <code>border-radius</code>, and <code>background-color</code>, but any other css rules would be applied too (think of it as jQuery's <code>css</code> function).</p>
               <p>Set up square, orange markers: </p>
               <pre><code data-language="javascript">{
   'width':'7px',
   'border-radius': '0%',
   'background-color': 'orange'
}</code></pre>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>markerTip</code></td>
            <td>Object</td>
            <td>Options for hover-over marker tips.</td>
         </tr>
         <tr>
            <td></td>
            <td><code>display</code></td>
            <td>Boolean</td>
            <td><p>Whether markerTips are displayed or not. Default to <code>true</code>.</p></td>
         </tr>
         <tr>
            <td></td>
            <td><code>text</code></td>
            <td>Function</td>
            <td>
               <p>Callback function for dynamically constructing your marker tip text. Simply return a string. The argument <code>marker</code> is the marker object passed to the plugin.</p>
               <p>Show time of the marker (<code>hh::mm::ss</code> format): </p>
               <pre><code data-language="javascript">function(marker) {
   var seconds = marker.time % 60;
   var minutes = parseInt(marker.time / 60) % 60;
   var hours = parseInt(marker.time / (60 * 60)) ;
   return hours + ":" + minutes + ":" + seconds;
}</code></pre>
            </td>
         </tr>
         <tr>
            <td></td>
            <td><code>time</code></td>
            <td>Function</td>
            <td>
               <p>Callback function for dynamically getting the time for the marker. The plugin makes no assumption of where the time attribute is located in the marker object. This allows you to use existing formats to represent time (in seconds). The default function uses <code>marker.time</code>.</p>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>breakOverlay</code></td>
            <td>Object</td>
            <td>Options for the break overlays at each marker.</td>
         </tr>
         <tr>
            <td></td>
            <td><code>display</code></td>
            <td>Boolean</td>
            <td><p>Whether overlays are displayed or not. Default to <code>false</code>.</p></td>
         </tr>
         <tr>
            <td></td>
            <td><code>displayTime</code></td>
            <td>Integer</td>
            <td><p>The number of seconds a overlay is shown from the beginning of its marker.. Default to <code>3</code> seconds.</p>
            </td>

         </tr>
         <tr>
            <td></td>
            <td><code>style</code></td>
            <td>Object</td>
            <td><p>Setup css styles for the overlays (play around with color, font-size, and height). Similar to <code>markerStyle</code>, any other css styles not in the default options would still be applied.</p></td>
         </tr>
         <tr>
            <td></td>
            <td><code>text</code></td>
            <td>Function</td>
            <td>
               <p>Same idea as markerTip's <code>text</code> callback mentioned above. This callback function is used to dynamically construct your overlay text. Simply return a string. </p>

               <pre><code data-language="javascript">function(marker) {
   return "You can setup anything here" + marker.overlay;
}</code></pre>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>onMarkerReached</code></td>
            <td>Function</td>
            <td><p>This callback function is triggered whenever playback reaches the time interval from a marker. The interval is specified in the <code>breakOverlay.displayTime</code> . This can be used to trigger certain actions at each marker, depending on your use case. Again, this function is given a <code>marker</code> instance. In 0.6.0, the function also takes in a second parameter <code>index</code>.</p>
            <pre><code data-language="javascript">function(marker, index) {
   alert ("I just reached a marker!");
}</code></pre>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>onMarkerClick</code></td>
            <td>Function</td>
            <td><p>This callback function is triggered when clicking on the markers. The default behavior for clicking on the marker is seeking to that point in the video. However, if <code>onMarkerClick</code> returns false, the default behavior will be prevented.
            <pre><code data-language="javascript">function(marker) {
   alert ("I just clicked on a marker!");
}</code></pre>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>markers</code></td>
            <td>Array</td>
            <td>
               <p>An array of markers to display by the plugin. For each marker, you can specify the following:</p>
               <pre><code data-language="javascript">{
   time : 10,
   text: "marker text 1",
   overlayText: 'overlay text 1',
   class: 'custom-marker-class'
}</code></pre>
               <p>The <code>time</code> field is required, while the rest are optional. <code>text</code> and <code>overlay</code> are handy fields for setting up the markerTip and overlay text. <code>class</code> should be used when you want to have different colors for different markers which wouldn't be possible with the universal <code>markerStyle</code>.</p>

               <pre><code data-language="javascript">[{
   time: 10,
   text: "red marker",
   class: "red-marker-class"
},
{
   time: 20,
   text: "blue marker",
   class: "blue-marker-class"
}]</code></pre>
            </td>
         </tr>
      </tbody>
   </table>

   <h3>API Methods</h3>
   <table class="table  table-bordered">
      <thead>
         <tr>
            <th colspan="2">Name</th>
            <th>Description</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td colspan="2"><code>getMarkers</code></td>
            <td>
               <p>Returns the array of current markers in the plugin, sorted by ascending time.</p>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>next</code></td>
            <td>
               <p>Go to the next marker from the current time in the video. If there's isn't a next marker, then does nothing.</p>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>prev</code></td>
            <td>
               <p>Go to the pervious marker from the current time in the video. If there's isn't one, then does nothing.</p>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>updateTime</code></td>
            <td>
               <p>Starting in v0.5.0, we allow modifying the marker's time dynamically (from the original marker object passed in). Once marker times have been changed, <code>updateTime</code> should be called to immediately reflect the changes in the UI.</p>
               <p>Add a second to all the markers</p>
               <pre><code data-language="javascript">var markers = player.markers.getMarkers();
for (var i = 0; i < markers.length; i++) {
   markers[i].time += 1
}
player.markers.updateTime();</code></pre>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>remove</code></td>
            <td>
               <p>Remove the markers in the given array of indices. Note the index is 0-based (e.g. first marker has index 0).</p>
               <p>Remove the 2nd and 3rd marker: </p>
               <pre><code data-language="javascript">player.markers.remove([1,2]);</code></pre>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>removeAll</code></td>
            <td><p>Remove all the markers in the player.</p></td>
         </tr>
         <tr>
            <td colspan="2"><code>add</code></td>
            <td><p>Dynamically add new markers.</p>
               <pre><code data-language="javascript">player.markers.add([{
   time: 40,
   text: "I'm added dynamically"
}]);</code></pre>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>reset</code></td>
            <td>Reset all the markers in the video. This is equivalent to <code>removeAll</code> then <code>add</code> new markers.
               <pre><code data-language="javascript">player.markers.reset([{
   time: 40,
   text: "I'm new"
},
{
   time:20,
   text: "I'm new too"
}]);</code></pre>
            </td>
         </tr>
         <tr>
            <td colspan="2"><code>destroy</code></td>
            <td>Destroy the plugin. After calling this function, <code>player.markers</code> should be undefined.</td>
         </tr>
      </tbody>
   </table>

   </div>


</section>
<footer class="footer">
   <div class="container">
      <p>Code licensed under <a href="https://raw.githubusercontent.com/spchuang/videojs-markers/master/LICENSE-MIT" target="_blank">MIT License</a></p>
   </div>
</footer>

   <script src="/static/lib/jquery.js"></script>
   <script src="/static/lib/bootstrap-3.3.1/js/bootstrap.min.js"></script>
   <script src="http://vjs.zencdn.net/4.3/video.js"></script>
   <script src='/static/bower_components/videojs-markers/dist/videojs-markers.js'></script>
   <script src="/static/lib/rainbow/rainbow-custom.min.js"></script>
   <script>
   function loadFirstDemo() {
      var player = videojs('basic-demo');

      player.markers({
         markers: [
            {time: 9.5, text: "this"},
            {time: 16,  text: "is"},
            {time: 23.6,text: "so"},
            {time: 28,  text: "cool"}
         ]
      });
   }
   function loadSecondDemo() {
      var player = videojs('customize-demo');

      player.markers({
         markerStyle: {
            'width':'9px',
            'border-radius': '40%',
            'background-color': 'orange'
         },
         markerTip:{
            display: true,
            text: function(marker) {
               return "I am a marker tip: "+ marker.text;
            }
         },
         breakOverlay:{
            display: true,
            displayTime: 4,
            style:{
               'width':'100%',
               'height': '30%',
               'background-color': 'rgba(10,10,10,0.6)',
               'color': 'white',
               'font-size': '16px'
            },
            text: function(marker) {
               return "This is a break overlay: " + marker.overlayText;
            },
         },
         markers: [
            {time: 9.5, text: "this", overlayText: "1", class: "special-blue"},
            {time: 16,  text: "is", overlayText: "2"},
            {time: 23.6,text: "so", overlayText: "3"},
            {time: 28,  text: "cool", overlayText: "4"}
         ]
      });
   }

   function loadThirdDemo() {
      var player = videojs('dynamic-demo');
      player.markers({
         breakOverlay:{
            display: true
         },
         onMarkerClick: function(marker){
            $('.dynamic-demo-events').append('<li class="list-group-item">Marker click: '+marker.time+'</li>');
         },
         onMarkerReached: function(marker){
            $('.dynamic-demo-events').append('<li class="list-group-item">Marker reached: '+marker.time+'</li>');
         },
         markers: [
            {time: 9.5, text: "this", overlayText: "1"},
            {time: 16,  text: "is", overlayText: "2"},
            {time: 23.6,text: "so", overlayText: "3"},
            {time: 28,  text: "cool", overlayText: "4"}
         ]
      });

      // setup control handlers
      $(".dynamic-demo-prev").click(function(){
         player.markers.prev();
      });
      $(".dynamic-demo-next").click(function(){
         player.markers.next();
      });
      $(".dynamic-demo-add-random").click(function(){
         var randomTime = Math.floor((Math.random() * parseInt(player.duration())) + 1);

         // come up with a random time
         player.markers.add([{
            time: randomTime,
            text: "I'm new",
            overlayText: "I'm new"
         }]);
      });
      $(".dynamic-demo-shift"). click(function(){
         var markers = player.markers.getMarkers();
         for(var i = 0; i < markers.length; i++) {
            markers[i].time += 1;
         }
         player.markers.updateTime();
      });
      $(".dynamic-demo-remove-first").click(function( ){
         player.markers.remove([0]);
      });
      $(".dynamic-demo-remove-all").click(function(){
         player.markers.removeAll();
      });
      $(".dynamic-demo-destroy").click(function(){
         player.markers.destroy();
      });

   }
   $(document).ready(function(){

      loadFirstDemo();
      loadSecondDemo();
      loadThirdDemo();

      $(".see-demo").click(function(){
         $('html, body').animate({
            scrollTop: $($("#demo")).offset().top
          }, 500, 'swing');
      });
   });

</script>

</body>
</html>
